* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: black;
}
img {
    max-width: 50%;
    padding-top: 1em;
}
nav {
    background-size: cover;
    text-align: center;
    padding-bottom: 4em;
}
nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
input {
    background-color: white;
    border: none;
}
.type {
    font-size: large;
    font-weight: bold;
    padding: 5px;
}
.ticket-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.ticket {
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.qty-input {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    max-width: 3em;
}
.minus {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    max-width: 3em;
    margin: 10px;
}
.plus {
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: .5em;
    max-width: 3em;
    margin: 10px;
}
.minus:hover {
    background-color: lightgrey;
}
.plus:hover {
    background-color: lightgrey;
}
.order-btn {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 1em;
}
.order-btn:hover {
    background-color: lightgrey;
}
footer {
    position: relative;
    margin-top: 5em;
    width: 100%;
    text-align: center;
    color: white;
}