* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: black;
}
nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.ticket-container {

}
.movie-img {
    max-width: 3em;
}

footer {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    color: white;
}