* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: black;
}
nav {
    background-size: cover;
    text-align: center;
    padding-bottom: 4em;
}
nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.ticket-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 85%;
    background-color: white;
    border-radius: 20px;
}
.movie-img {
    max-width: 1em;
}

footer {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    color: white;
}